body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6; /* Fundo rosa claro */
    margin: 0;
    overflow: hidden;
    position: relative;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    overflow: hidden;
}

.stars::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, transparent 40%);
    opacity: 0.5;
    background-size: 20px 20px;
    z-index: -1;
}

.star {
    position: absolute;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
    animation: twinkle 1.5s infinite ease-in-out;
}

@keyframes twinkle {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.9;
    }
}

.container {
    position: relative;
    max-width: 50%;
    text-align: center;
}

.avatar {
    width: 80%;
    height: auto;
}

.balloon {
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
}

.balloon:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 60%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    animation: float 3s infinite ease-in-out;
}

.heart:before,
.heart:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    50% {
        transform: translateY(-20px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #ff6666;
    color: white;
}

button:hover {
    background-color: #ff3333;
}
